target
src/main/resources/package/silverpeas-*/bin/jar/
src/main/resources/package/silverpeas-*/bin/target/
src/main/resources/package/silverpeas-*/scripts/
src/main/resources/package/silverpeas-*/META-INF/
src/main/resources/package/silverpeas-*/data/
src/main/resources/package/silverpeas-*/dbRepository/
src/main/resources/package/silverpeas-*/initialize/
src/main/resources/package/silverpeas-*/jar/
src/main/resources/package/silverpeas-*/log/
src/main/resources/package/silverpeas-*/properties/
src/main/resources/package/silverpeas-*/repository/
src/main/resources/package/silverpeas-*/resources/
src/main/resources/package/silverpeas-*/silvertrace/
src/main/resources/package/silverpeas-*/xmlcomponents/

