target
src/main/resources/package/silverpeas-5.4-SNAPSHOT/META-INF/
src/main/resources/package/silverpeas-5.4-SNAPSHOT/data/
src/main/resources/package/silverpeas-5.4-SNAPSHOT/dbRepository/
src/main/resources/package/silverpeas-5.4-SNAPSHOT/initialize/
src/main/resources/package/silverpeas-5.4-SNAPSHOT/jar/
src/main/resources/package/silverpeas-5.4-SNAPSHOT/log/
src/main/resources/package/silverpeas-5.4-SNAPSHOT/properties/
src/main/resources/package/silverpeas-5.4-SNAPSHOT/repository/
src/main/resources/package/silverpeas-5.4-SNAPSHOT/resources/
src/main/resources/package/silverpeas-5.4-SNAPSHOT/silvertrace/
src/main/resources/package/silverpeas-5.4-SNAPSHOT/xmlcomponents/

